
<html>
		<head>
				<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
				<script type="text/javascript" src="/static/arbor/lib/arbor.js" ></script>
				<script type="text/javascript" src="/static/arbor/demos/_/graphics.js" ></script>
				<script type="text/javascript" src="/static/arbor/demos/halfviz/src/renderer.js" ></script>
				<link rel="stylesheet" href="/static/css/bootstrap.min.css"></script>
				<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		</head>
		<body>

			<div class="container" style="padding-top: 50px;">
				<a href="http://graphbin.co" style="text-decoration: none;"> 
					<h1> GraphBin
						<small class="pull-right" style="font-size: 15px;">
						</small>
					</h1>
				</a>

				<div class="pull-left col-lg-4" id="side">
					<h1>
						<small id="graphname-header">{{url}}</small>
					</h1>
					<p style="font-size: 16px;">
						<b>About</b>
					</p>
					<p style="font-size: 16px; padding-left: 6px;">
						Create your own graphs (as in graph theory with edges and verticies) and share them over the web. <a href="/register">Register</a> a free account to create your own graphs.
					</p>
					<p style="font-size: 16px;">
						<b>More on Graph Theory:</b>
					</p>
					<p style="font-size: 18px; padding-left: 6px;">
						<a href="http://mathworld.wolfram.com/Graph.html">From Wolfram Alpha</a>
					</p>
					<p style="font-size: 18px; padding-left: 6px;">
						<a href="https://en.wikipedia.org/wiki/Graph_theory">From Wikipedia</a>
					</p>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- graphbin_public_medium_rectangle -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:250px"
				     data-ad-client="ca-pub-8309192969386361"
				     data-ad-slot="1299941927"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				</div>
				<div id="graph" class="pull-right col-lg-8">
					<canvas id="viewport" width="800" height="600" style="border: 1px solid #000;"></canvas>
				</div>
			</div>
			<script type="text/javascript" src="/static/js/main_public.js"></script>
		</body>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-48307399-1', 'graphbin.co');
			ga('send', 'pageview');
		</script>
</html>