<html>
	<head>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" style="padding-top: 30px;">
			<h1>GraphBin <small>Login</small></h1>
			<br>
			<div class="col-md-4">
				<form method="post" role="form" action="{{ url_for('login')}}">
					<div class="form-group">
						{{ form.email(class_ = 'form-control first-input', placeholder = form.email.label.text, required = true, autofocus = true) }}
					</div>
					<div class="form-group">
						{{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
					</div>
					<input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
					<p class="pull-right"><a href="{{ url_for('register') }}">Register</a></p>
				</form>
			</div>

		</div>
	</body>
</html>